{% extends ":Back:layout.html.twig" %}

{% block main %}
        <h1>20 dom + Homme</h1>
    {% for domGenderHs in domGenderH %}
        <p>{{ domGenderHs.domain }} : {{ domGenderHs.total }}</p>
    {% endfor %}
        <h1>20 dom + femme</h1>
    {% for domGenderFs in domGenderF %}
        <p>{{ domGenderFs.domain }} : {{ domGenderFs.total }}</p>
    {% endfor %}
    <h1>20 dom + statut</h1>
    {#% for domStatuss in domStatus %}
        <p>{{ domStatuss.domain }} : {{ domStatuss.total }}</p>
    {% endfor %#}
    <h1>20 job les + tagés homme</h1>
    {% for jobGenderHs in jobGenderH %}
        <p>{{ jobGenderHs.name }} : {{ jobGenderHs.total }}</p>
    {% endfor %}
    <h1>20 job les + tagés femme</h1>
    {% for jobGenderFs in jobGenderF %}
        <p>{{ jobGenderFs.name }} : {{ jobGenderFs.total }}</p>
    {% endfor %}

{% endblock %}