{% extends ":Back:layout.html.twig" %}


{% block main %}
    <div class="container">
    <h1 class="back-title">Statistiques d'utilisation de l'application</h1>
    <br>
    <div class="statistic-card">
        <div class="col-xs-2 col-xs-offset-1">
            <p><span><b>{{ totalusers }}</b></span><br><small>Nombre d'utilisateurs enregistrés</small></p>
        </div>

        <div class="col-xs-2">
            <p><span><b>{{ activeusers }}</b></span><br><small>Nombre d' utilisateurs actifs</small></p>
        </div>

        <div class="col-xs-2">
            <p><span><b>{{ eligibleuser }}</b></span><br><small>Nombre d'utilisateur pouvant participer au tirage au sort</small>
                </p>
        </div>

        <div class="col-xs-2">
            <p><span><b>{{ nbjobs }}</b></span><br><small>Nombre de métiers ayant reçus des réponses</small></p>
        </div>

        <div class="col-xs-2">
            <p><span><b>{{ nbdomains }}</b></span><br><small>Nombre de domaines ayant reçus des réponses</small></p>
        </div>
    </div>


    <br>
    <div>
        <h2>Classement des 20 métiers les plus répondus</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Métier</th>
                <th>Nombre de réponses</th>
            </tr>
            </thead>
            {% for job in mostAnsweredJobs %}
                <tr>
                    <td>{{ job.name }}</td>
                    <td>{{ job.total }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <br>

    <div>
        <h2> Classement des 20 domaines les plus répondus</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Domaine</th>
                <th>Nombre de réponses</th>
            </tr>
            </thead>
            {% for domain in mostAnsweredDomains %}
                <tr>
                    <td>{{ domain.domain }}</td>
                    <td>{{ domain.total }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <br>
    <div><h2> Classement des 20 mots les plus utilisés</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Mot</th>
                <th>Nombre</th>
            </tr>
            </thead>
            {% for word in words %}
                <tr>
                    <td>{{ word.word }}</td>
                    <td>{{ word.nb }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}